h1{
    text-align: center;
    background-color: aquamarine;
}
.forpadding{
    padding-left: 35%;
}
form{
    font-size: larger;
}
.p1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border-radius:10px;
    border-width:0px;
    background-color:aquamarine;
    color:rgb(14, 14, 14);
    size: 500px;
    height:30px;
    width:100px;
    margin-left: 100px;
}